### Java ###
*.class
*.war
*.ear
hs_err_pid*

### Gradle ###
.gradle
build/
!gradle-wrapper.jar
*.log

### IDEA ###
.idea/
*.iml
classes

**/generated-jooq-src/

### Google Drive Credentials ###
*.json