<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World!</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="This is a website where you can buy military items, clothes, equipment, etc"/>
    <meta name="keywords" content="military, military-shop, military equipment, military clothes, military items"/>
    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>
<div>
    <h1 id="title">Hello user!</h1>
</div>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>