<!DOCTYPE html>
<html lang="en">
<head>
    <title>Military Store Ukraine</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="This is a website where you can buy military items, clothes, equipment, etc"/>
    <meta name="keywords" content="military, military-shop, military equipment, military clothes, military items"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="main-page-container">

    <header>
        <div class="logotype-container">
            <a class="logotype" href="/" title="Military Store Home Page">
                <img
                    src="../static/images/logotype.svg"
                    alt="Military Store logo"
                    class="logotype"
                    loading="eager"
                    fetchpriority="high"
                >
            </a>
        </div>

        <div class="header-container">
            <h1 id="header-title">Military Store Ukraine</h1>
        </div>

        <div class="sign-in-container">
            <a href="/login" class="button" title="Login Page">Sign In</a>
        </div>

        <div class="sign-up-container">
            <a href="/registration" class="button" title="Registration Page">Sign Up</a>
        </div>

        <div class="logout-container">
            <form action="/logout" method="post">
                <button class="button" type="submit">Sign Out</button>
            </form>
        </div>
    </header>

    <div class="banner-container">
        <img
            src="../static/images/banner.png"
            alt="Military Store Banner"
            loading="eager"
            fetchpriority="high"
        >
    </div>

    <nav class="nav-container">
        <div class="catalog-container">
            <form action="/categories" method="get">
                <button class="button" type="submit">
                    <label class="button-name">Catalog</label>
                    <img
                        src="../static/images/icons/catalog.svg"
                        alt="Catalog"
                        class="icon"
                        loading="eager"
                        fetchpriority="high"
                    >
                </button>
            </form>
        </div>

<!--        Should be fixed with JS-->
        <div class="search-container">
            <form action="/product-name/{productName}" method="get">
                <div class="input-icon-wrapper">
                    <img
                        src="../static/images/icons/search.svg"
                        alt="Search Icon"
                        class="search-icon"
                        loading="eager"
                        fetchpriority="high"
                    >
                    <input type="text" class="search-input" name="productName" placeholder="Search product by name..."/>
                </div>
                <button class="button search-button" type="submit">Search</button>
            </form>
        </div>

        <div class="wishlist-container">
            <a href="/users/wishlist" class="button" title="User wishlist">
               <label class="button-name">Wishlist</label>
                <img
                    src="../static/images/icons/wishlist.svg"
                    alt="Wishlist"
                    class="icon"
                    loading="eager"
                    fetchpriority="high"
                >
            </a>
        </div>

        <div class="basket-container">
            <a href="/products/basket" class="button" title="User basket">
                <label class="button-name">Basket</label>
                <img
                    src="../static/images/icons/basket.svg"
                    alt="Basket"
                    class="icon"
                    loading="eager"
                    fetchpriority="high"
                >
            </a>
        </div>

<!--        Should be fixed with js-->
        <div class="profile-container">
            <a href="/users/{userId}" class="button" title="User profile">
                <label class="button-name">Profile</label>
                <img
                    src="../static/images/icons/profile.svg"
                    alt="Profile"
                    class="icon"
                    loading="eager"
                    fetchpriority="high"
                >
            </a>
        </div>
    </nav>

    <nav class="sidebar-container">
        <div class="sidebar-section">
<!--            Should be replace with /categories data to render and redirect to /{id}/subcategory via js-->
            <h4>Categories</h4>
            <ul>
                <li><a href="/categories/1" title="Clothes">Clothes</a></li>
                <li><a href="/categories/2" title="Equipment">Equipment</a></li>
                <li><a href="/categories/3" title="Shoes">Shoes</a></li>
                <li><a href="/categories/4" title="Hats">Hats</a></li>
                <li><a href="/categories/5" title="Helmets">Helmets</a></li>
                <li><a href="/categories/6" title="Gloves">Gloves</a></li>
                <li><a href="/categories/7" title="Backpacks">Backpacks</a></li>
                <li><a href="/categories/8" title="Accessories">Accessories</a></li>
                <li><a href="/categories/9" title="Glasses">Glasses</a></li>
                <li><a href="/categories/10" title="Watches">Watches</a></li>
                <li><a href="/categories/11" title="Armor">Armor</a></li>
                <li><a href="/categories/12" title="Weapons">Weapons</a></li>
                <li><a href="/categories/13" title="Gears">Gears</a></li>
            </ul>
        </div>
    </nav>

    <main class="content-container">
<!--        Will be updated with js /subcategory-id/{subcategoryId}-->
        <div class="item-block">
            <img src="../static/images/mock/armor-1.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Armor</h3>
                <p class="item-stock">In Stock</p>
                <p class="item-price">$99.99</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/armor-2.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Armor Full Complect</h3>
                <p class="item-stock">In Stock</p>
                <p class="item-price">$329.99</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/armor-3.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Armor D-24</h3>
                <p class="item-stock">In Stock</p>
                <p class="item-price">$912.99</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/shoes-1.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Shoes M-4</h3>
                <p class="item-stock">In Stock</p>
                <p class="item-price">$99.99</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/shoes-2.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Shoes Lowa</h3>
                <p class="item-stock">In Stock</p>
                <p class="item-price">$1299.99</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/shoes-3.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Shoes Berkut</h3>
                <p class="item-stock">In Stock</p>
                <p class="item-price">$111.00</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/shoes-4.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Shoes Grotex</h3>
                <p class="item-stock out-of-stock">Out of Stock</p>
                <p class="item-price">$129.99</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/shoes-5.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Shoes Winter Z-1</h3>
                <p class="item-stock out-of-stock">Out of Stock</p>
                <p class="item-price">$329.99</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/helmet-1.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Helmet RG-M1</h3>
                <p class="item-stock">In Stock</p>
                <p class="item-price">$452.00</p>
            </div>
        </div>

        <div class="item-block">
            <img src="../static/images/mock/helmet-2.png" alt="Item" />
            <div class="item-info">
                <h3 class="item-name">Helmet Combat Multicam</h3>
                <p class="item-stock out-of-stock">Out of Stock</p>
                <p class="item-price">$500.00</p>
            </div>
        </div>
    </main>

    <footer class="footer-container">
        <div class="footer-info">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Phone: +38 (044) 123-45-67</p>
                <p>Email: support@militarystore.com</p>
                <p>Address: 123 Military Road, Cherkassy, Ukraine</p>
            </div>

            <div class="footer-section">
                <h4>Working Hours</h4>
                <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
                <p>Saturday: 10:00 AM - 4:00 PM</p>
                <p>Sunday: Closed</p>
            </div>

            <div class="footer-section">
                <h4>Follow Us</h4>
                <p><a href="https://www.facebook.com/militarist.ua">Facebook</a></p>
                <p><a href="https://www.instagram.com/mtac.ua/">Instagram</a></p>
                <p><a href="https://t.me/militaristua">Telegram</a></p>
                <p><a href="https://www.youtube.com/user/militaristgame">YouTube</a></p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2024 Military Shop | All rights reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>