<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/auth.css">
    <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="../static/images/icon.png"/>
</head>
<body class="auth-background login-background">

<main>
    <section class="centered-form">
        <div class="login-container">
            <form method="post" action="/login">

                <header>
                    <h1 class="title">Login Form</h1>
                </header>

                <div class="img-container">
                    <img src="../static/images/login-avatar.png" alt="Avatar" class="avatar">
                </div>

                <div class="input-data-container">
                    <label class="input-field" for="login">Login</label>
                    <input class="input-data-placeholder" type="text" id="login" name="login" placeholder="Username"
                           required minlength="3" maxlength="25" autocomplete="login"/>

                    <label class="input-field" for="password">Password</label>
                    <input class="input-data-placeholder" type="password" id="password" name="password"
                           placeholder="Password" required minlength="6" maxlength="30" autocomplete="current-password"/>

                    <button id="sign-in-button" class="button" type="submit">Sign in</button>
                </div>

                <div>
                    <input type="checkbox" id="remember-me" name="remember-me" checked/>
                    <label for="remember-me"> Remember me</label>
                </div>

                <div class="account-prompt-container">
                    <p>
                        New user?
                        <a href="/registration" title="Registration Page" class="auth-hyperlink">Sign up</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>