html {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.2rem);
}

.main-page-container {
    display: grid;
    grid-template-columns:
        [logo categories sidebar] minmax(10px, 2fr)
        [title search content] minmax(100px, 7fr)
        [sign-in wishlist] minmax(5px, 1fr)
        [sign-up basket] minmax(5px, 1fr)
        [logout profile] minmax(5px, 1fr);
    grid-template-rows:
            [header-row] minmax(10px, 80px)
            [banner-row] minmax(150px, auto)
            [nav-row] minmax(10px, 65px)
            [content-row] minmax(550px, auto)
            [footer-row] minmax(10px, 260px);
    grid-template-areas:
            "header  header  header  header  header"
            "banner  banner  banner  banner  banner"
            "nav     nav     nav     nav     nav"
            "sidebar main    main    main    main"
            "footer  footer  footer  footer  footer";
}

/*Header styles*/
header {
    grid-area: header;
    display: grid;
    grid-template-columns:
            [logo-start] minmax(10px, 2fr)
            [logo-end title-start] minmax(100px, 7fr)
            [title-end sign-in-start] minmax(5px, 1fr)
            [sign-in-end sign-up-start] minmax(5px, 1fr)
            [sign-up-end logout-start] minmax(5px, 1fr) [logout-end];
    grid-template-rows: [header-row-start] minmax(10px, 80px) [header-row-end];
    border: 4px solid #1b2141;
    background-color: #e9e2da;
}

.header-container {
    grid-column: title-start / title-end;
    grid-row: header-row-start / header-row-end;
    justify-self: center;
    align-self: center;
}

#header-title {
    font-size: 2rem;
    font-weight: bold;
    color: #1b2141;
}

.logotype-container {
    grid-column: logo-start / logo-end;
    grid-row: header-row-start / header-row-end;
}

.logotype {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-in-container {
    grid-column: sign-in-start / sign-in-end;
    grid-row: header-row-start / header-row-end;
    justify-self: end;
    align-self: center;
}

.sign-up-container {
    grid-column: sign-up-start / sign-up-end;
    grid-row: header-row-start / header-row-end;
    justify-self: start;
    align-self: center;
}

.logout-container {
    grid-column: logout-start / logout-end;
    grid-row: header-row-start / header-row-end;
    justify-self: start;
    align-self: center;
}

/* Button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 0.85rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #1b2141;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.button:is(:hover, :focus) {
    background-color: #004c99;
    border-color: #003366;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.button:active {
    background: linear-gradient(135deg, #0055cc, #003399);
    border-color: #003399;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.95) rotate(-2deg);
}

.sign-in-container, .sign-up-container, .logout-container {
    text-align: center;
}

/*Banner styles*/
.banner-container {
    grid-area: banner;
    display: grid;
    grid-template-rows: auto;
}

.banner-container img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: 50% 15%;
}

/*Nav styles*/
.nav-container {
    grid-area: nav;
    display: grid;
    grid-template-columns:
            [categories-start] minmax(10px, 2fr)
            [categories-end search-start] minmax(100px, 7fr)
            [search-end wishlist-start] minmax(5px, 1fr)
            [wishlist-end basket-start] minmax(5px, 1fr)
            [basket-end profile-start] minmax(5px, 1fr) [profile-end];
    grid-template-rows: [nav-row-start] minmax(10px, 65px) [nav-row-end];
    background-color: #1b2141;
    padding: 10px 0;
    text-align: center;
}

.nav-container a {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #e9e2da;
    text-decoration: none;
    background-color: #5a6e9c;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    transition: all 0.3s ease;
    min-width: 50px;
    max-width: 100px;
}

.nav-container a:is(:hover, :focus) {
    background-color: #7c97c6;
    color: #e9e2da;
    transform: scale(1.05);
}

.nav-container a:active {
    background: linear-gradient(135deg, #6a87c4, #4d68a8);
    color: #e9e2da;
    transform: scale(0.95) rotate(-2deg);
}

.catalog-container,
.search-container,
.wishlist-container,
.basket-container,
.profile-container {
    justify-self: center;
    align-self: center;
    align-content: center;
}

.search-container form,
.wishlist-container a,
.basket-container a,
.profile-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 5px 10px;
}

.catalog-container {
    grid-column: categories-start / categories-end;
    grid-row: nav-row-start / nav-row-end;
    justify-self: start;
    width: 100%;
}

.catalog-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 5px 0;
}

.catalog-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    width: 100%;
    height: 40px;
    background-color: #5a6e9c;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.catalog-container .button-name {
    font-size: 0.85rem;
    padding-right: 10px;
}

.catalog-container .icon {
    width: 20px;
    height: 20px;
}

.catalog-container .button:is(:hover, :focus) {
    background-color: #7c97c6;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.catalog-container .button:active {
    background-color: #6e85b2;
    transform: scale(0.95);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.search-container {
    grid-column: search-start / search-end;
    grid-row: nav-row-start / nav-row-end;
    width: 100%;
    max-width: 900px;
    min-width: 350px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-icon-wrapper {
    position: relative;
    display: flex;
    flex-shrink: 1;
    border: 0.5px solid #5a6e9c;
    border-radius: 25px 0 0 25px;
}

.search-input {
    flex: 1;
    padding: 10px 40px 10px 40px;
    font-size: 1rem;
    text-align: center;
    width: 450px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.search-button {
    flex-shrink: 0;
    width: 100px;
    background-color: #5a6e9c;
    padding: 12px 20px;
    margin-left: 0;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    border: none;
    transition: background-color 0.3s ease;
}

.search-button:is(:hover, :focus) {
    background-color: #7c97c6;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.search-button:active {
    transform: scale(0.95);
    background-color: #6e85b2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.wishlist-container {
    grid-column: wishlist-start / wishlist-end;
    grid-row: nav-row-start / nav-row-end;
    margin: 10px 0;
    justify-self: end;
}

.basket-container {
    grid-column: basket-start / basket-end;
    grid-row: nav-row-start / nav-row-end;
}

.icon {
    width: 20%;
    height: 20%;
    object-fit: cover;
}

.button-name {
    font-size: 0.85rem;
    margin: 5px;
}

.profile-container {
    grid-column: profile-start / profile-end;
    grid-row: nav-row-start / nav-row-end;
    justify-self: start;
}

/*Sidebar styles*/
.sidebar-container {
    grid-area: sidebar;
    background-color: #e6f7ff;
    width: 100%;
    height: auto;
    padding: 20px 10px 20px 0;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-section h4 {
    font-size: 1.5rem;
    margin-bottom: 40px;
    margin-top: 0;
    color: #004d66;
    font-weight: bold;
    text-align: center;
}

.sidebar-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-section ul li {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar-section ul li a {
    display: block;
    padding: 10px;
    font-size: 1rem;
    color: #5a5a5a;
    text-decoration: none;
    border-bottom: 1px solid #d1e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-section ul li a:is(:hover, :focus) {
    background-color: #ccf2ff;
    color: #00334d;
}

.sidebar-section ul li a:active {
    background-color: #99e6ff;
    color: #002b3a;
    font-weight: bold;
    border-left: 4px solid #01579b;
}

/*Main styles*/
.content-container {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px, auto));
    gap: 30px 10px;
    padding: 20px 20px;
    background-color: #f0faff;
    justify-content: space-around;
    align-content: center;
}

.item-block {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 430px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item-block img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5px 10px;
    height: 100px;
}

.item-name {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 5px;
}

.item-stock {
    font-size: 0.75em;
    text-align: center;
    color: #28a745;
    margin: 5px;
}

.item-stock.out-of-stock {
    color: #dc3545;
}

.item-price {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: #007bff;
    margin: 15px 15px 0;
}

/*Footer styles*/
.footer-container {
    grid-area: footer;
    background-color: #1b2141;
    color: #e9e2da;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-top: 2px solid #5a6e9c;
}

.footer-section {
    margin: 10px;
    max-width: 270px;
}

.footer-section h4 {
    color: #ffcc00;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    color: #e9e2da;
    margin: 5px 0;
    text-decoration: none;
}

.footer-section a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #5a6e9c;
    padding: 0 10px;
    font-size: 0.85rem;
    color: #b2bac8;
}

/* Responsive styles */
@media (max-width: 1100px) {
    #header-title {
        font-size: 1.5rem;
    }

    .button {
        padding: 7px 12px;
        margin: 7px;
        font-size: 0.7rem;
    }

    .sign-in-container, .sign-up-container, .logout-container {
        justify-self: center;
    }

    .profile-container,
    .basket-container,
    .wishlist-container {
        justify-self: center;
    }

    .button-name {
        font-size: 0.7rem;
    }

    .search-container {
        border: none;
    }

    .search-input {
        width: 300px;
        height: 28.5px;
        font-size: 0.8rem;
        border: none;
    }

    .search-button {
        margin-left: 0;
    }

    .catalog-container .button-name {
        font-size: 0.7rem;
        padding-right: 5px;
    }

    .sidebar-container h4 {
        font-size: 1.2rem;
    }

    .sidebar-section ul li a {
        font-size: 0.9rem;
    }

    .content-container .item-name {
        font-size: 0.9rem;
    }

    .content-container .item-stock {
        font-size: 0.7rem;
    }

    .content-container .item-price {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .main-page-container {
        grid-template-rows:
            [header-row] minmax(10px, 50px)
            [banner-row] minmax(10px, 200px)
            [nav-row] minmax(10px, 45px)
            [content-row] minmax(200px, auto)
            [footer-row] minmax(10px, 1fr);
    }

    #header-title {
        font-size: 1rem;
    }

    .button {
        padding: 5px 10px;
        margin: 5px;
        font-size: 0.55rem;
    }

    .sign-in-container, .sign-up-container, .logout-container {
        justify-self: center;
    }

    .button-name {
        font-size: 0.55rem;
    }

    .icon {
        display: none;
    }

    .catalog-container .button-name {
        font-size: 0.55rem;
    }

    .catalog-container .button {
        height: 25px;
    }

    .profile-container a,
    .basket-container a,
    .wishlist-container a {
        padding: 0;
        margin: 0;
    }

    .search-container {
        border: none;
    }

    .search-input {
        width: 210px;
        height: 21px;
        font-size: 0.6rem;
        border: none;
    }

    .search-button {
        margin-left: 0;
        width: 70px;
    }

    .sidebar-container h4 {
        font-size: 0.9rem;
    }

    .sidebar-section ul li a {
        font-size: 0.7rem;
    }

    .content-container .item-name {
        font-size: 0.8rem;
    }

    .content-container .item-stock {
        font-size: 0.6rem;
    }

    .content-container .item-price {
        font-size: 0.9rem;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}